body {
	display: grid;
	grid-template-columns: 1fr;

}

figure {
	display: flex;
	justify-content: center;
	
}
figure img{
	max-height: 65vh;
}

h1 {
	text-align: center;
}

main {
	display: flex;

	align-content: stretch;
}

main * {
		margin: 0px 30px;
}

#description {
	max-width: 50vw;
}

#description * {
	margin: 1rem auto;
}

.comments {
	display: grid;
	grid-template-columns: 1fr;
	align-self: grid-start;
}

textarea {
	width: 30vw;
	height: 10vw;
}

.commentsMain {
	text-align: center;
	padding: .5vw;

}
.commentUsername {
	font-weight: bold;

}

.commentText {
	justify-content: center;
	font-style: italic;
	
}

.tags-ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	flex-wrap: wrap;
}

.tagsName {
	text-align: center;

}

.new-tag-area {
	display: grid;
	grid-template-columns: 1fr;
}